// Utils
@import "../utils/variables";

/* PARTIE COMPOSANTS REUTILISABLES (COMMUNS A TOUTES LES PAGES) */
// Bouton
button
{
    font-family: map-get($map: $font-family, $key:text), sans-serif;
    font-size: map-get($map: $font-size, $key: text);
    background: $button-color;
    border:none;
    border-radius:25px;
    box-shadow: 2px 5px 5px rgba(128, 128, 128, 0.3);
    height:40px;
    color:white;
    margin-top:30px;
    padding:0px 15px 0px 15px;
    cursor:pointer;
    position: relative;
    z-index: 1;

    &:hover
    {
        &::after
        {
            opacity:1;
        }
    }

    &::after
    {
        content:"";
        position:absolute;
        top: 0;
        right: 0;
        bottom: 0;  
        left: 0;
        background: linear-gradient(356deg, mix(white,rgba(147,86,220,1),20%) 0%, mix(white,rgba(255,121,218,1),20%) 100%);
        box-shadow: 2px 5px 5px rgba(128, 128, 128, 0.4);
        opacity: 0;
        z-index: -1;
        border-radius:25px;
        transition: opacity 250ms;
    }
}

// Coeur
.mainContent__emptyHeart:hover {
    & > .mainContent__fullHeart {
        animation-name:heartfilling;
        animation-duration:350ms;
        animation-fill-mode:both;
        animation-timing-function: ease-in;
    }
}
    
.mainContent__fullHeart {
    position:absolute;
    bottom:0px;
    left:0;
    right:0;
    opacity:0;

    .stop1 {
        stop-color: $primary-color;
        }
    
    .stop2 {
        stop-color: $secondary-color;
        }
}