/* Keyframes */
@-webkit-keyframes heartfilling {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.2;
  }
  55% {
    opacity: 0.3;
  }
  85% {
    opacity: 0.7;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes heartfilling {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.2;
  }
  55% {
    opacity: 0.3;
  }
  85% {
    opacity: 0.7;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes loaderlogo {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.4;
  }
  85% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loaderlogo {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.4;
  }
  85% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes loadercircle {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes loadercircle {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@-webkit-keyframes loadingend {
  0% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}

@keyframes loadingend {
  0% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}

@-webkit-keyframes mealappearance {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes mealappearance {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes p-displacement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-55px);
            transform: translateX(-55px);
  }
}

@keyframes p-displacement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-55px);
            transform: translateX(-55px);
  }
}

@-webkit-keyframes check-displacement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-65px);
            transform: translateX(-65px);
  }
}

@keyframes check-displacement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-65px);
            transform: translateX(-65px);
  }
}

body, p, input {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  margin: 0;
}

h1 {
  font-size: 1.4rem;
}

a {
  color: black;
  text-decoration: none;
}

strong {
  font-weight: bold;
}

main {
  background-color: #f6f6f6;
}
/*# sourceMappingURL=base.css.map */