// Utils
@import "../utils/variables";
@import "../utils/mixins";


/* PARTIE BLOCS DE CODE SPECIFIQUES PAGES RESTAURANTS */
/* Balises générales*/
h1
{

    font-family:map-get($map: $font-family, $key: headings);
    margin:10px 0px;
}

h2
{
    font-size: map-get($map: $font-size, $key: text);
    font-weight:300;
    margin:35px 0px 0px 15px;
    @include tabletstyle{
        text-align:center;
    }
    
    span
    {
        padding-bottom:3px;
        border-bottom: $tertiary-color solid 3px;
    }
}

h3
{
    font-family: map-get($map: $font-family, $key: text), sans-serif;
    font-size:map-get($map: $font-size, $key: text);
    margin:0;
}

/* Contenu principal - menu */
#restImage
{
    object-fit: cover;
    overflow:hidden;
    height:250px;

    img
    {
        width:100%;
    }
}

.mainContentTitle
{
    display:flex;
    justify-content:space-between;
    align-items: center;
    width:85%;
    height:30px;
    margin:15px 0px 0px 15px;
    padding-right:20px;   
    @include tabletstyle{
        width:60%;
        justify-content: space-evenly;
        margin:auto;
        padding-right:0px;
    }
    @include desktopstyle {
        flex-direction:column;
        margin:30px auto 60px auto;
    }
}

.mainContent
{
    background-color: $background-color;
    border-radius:30px 30px 0px 0px;
    position:relative;
    top:-50px;
    padding-top:20px;
    @include tabletstyle{
        border-radius:50px 50px 0px 0px;
    }

    &__meals
    {
        @include tabletstyle{
            display:flex;
            flex-direction:column;
            align-items:center;
        }
        @include desktopstyle{
            flex-direction: row;
            justify-content: space-around;
        }
    }

    &__dish
    {
        border-radius:20px;
        box-shadow: 2px 2px 8px rgba(128, 128, 128, 0.4);
        width:85%;
        height:45px;
        line-height:1.4rem;
        padding:10px 10px;
        margin:20px 15px;
        position:relative;
        opacity:0;
        overflow:hidden;
        white-space: nowrap;
        animation:mealappearance 800ms 250ms both;
        @for $i from 1 through $num-dishes{
            &--#{$i} 
            {
                animation-delay: 150ms * $i;
            }
        }
        @include tabletstyle
        {
            max-width:65%;
        }
        @include desktopstyle
        {
            width:28%;
        }

        &:hover
        {
            & > p:nth-child(3) 
            {
                animation:p-displacement 300ms 50ms both;
            }

            & > .onClickCheck
            {
                animation:check-displacement 300ms both;
            }

            & .onClickCheck__icon
            {
                transform: rotate(0turn);
            }

            & h3, p:nth-child(2)
            {
                width:70%;
                }
            }

        }

    .onClickCheck__icon
    {
        transform: rotate(-0.5turn);
        transition: transform 400ms 50ms;
        fill:white;
    }

    h3, p:nth-child(2)
    {
        width:80%;
        transition:width 250ms 50ms;
        text-overflow:ellipsis;
        overflow:hidden;
        white-space: nowrap;
    }

    p:nth-child(3)
    {
        text-align:right;
        position:relative;
        bottom:20px;
        right:10px;
    }
}


.onClickCheck
{
    width:65px;
    height:100%;
    border-radius:0px 20px 20px 0px;
    background-color: $tertiary-color;
    position:absolute;
    right:-65px;
    top: 0px;
    padding:0;
    display:flex;
    justify-content: center;
    align-items: center;

    svg
    {
        margin:0;
        padding:0;
    }
}

#button
{
    text-align:center;
}

/* Coeur - Particularités */
.mainContent__emptyHeart {
    position:relative;
}
    
.mainContent__fullHeart {
    top:-1.5px;
    transform-origin:50% 80%;
}