@charset "UTF-8";
/* Keyframes */
@-webkit-keyframes heartfilling {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.2;
  }
  55% {
    opacity: 0.3;
  }
  85% {
    opacity: 0.7;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes heartfilling {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.2;
  }
  55% {
    opacity: 0.3;
  }
  85% {
    opacity: 0.7;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes loaderlogo {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.4;
  }
  85% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loaderlogo {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.4;
  }
  85% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes loadercircle {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes loadercircle {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@-webkit-keyframes loadingend {
  0% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}

@keyframes loadingend {
  0% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}

@-webkit-keyframes mealappearance {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes mealappearance {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes p-displacement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-55px);
            transform: translateX(-55px);
  }
}

@keyframes p-displacement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-55px);
            transform: translateX(-55px);
  }
}

@-webkit-keyframes check-displacement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-65px);
            transform: translateX(-65px);
  }
}

@keyframes check-displacement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-65px);
            transform: translateX(-65px);
  }
}

/* Keyframes */
@keyframes heartfilling {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.2;
  }
  55% {
    opacity: 0.3;
  }
  85% {
    opacity: 0.7;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes loaderlogo {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.4;
  }
  85% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loadercircle {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes loadingend {
  0% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}

@keyframes mealappearance {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes p-displacement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-55px);
            transform: translateX(-55px);
  }
}

@keyframes check-displacement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-65px);
            transform: translateX(-65px);
  }
}

body, p, input {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  margin: 0;
}

h1 {
  font-size: 1.4rem;
}

a {
  color: black;
  text-decoration: none;
}

strong {
  font-weight: bold;
}

main {
  background-color: #f6f6f6;
}

/* Keyframes */
@keyframes heartfilling {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.2;
  }
  55% {
    opacity: 0.3;
  }
  85% {
    opacity: 0.7;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes loaderlogo {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.4;
  }
  85% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loadercircle {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes loadingend {
  0% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}

@keyframes mealappearance {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes p-displacement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-55px);
            transform: translateX(-55px);
  }
}

@keyframes check-displacement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-65px);
            transform: translateX(-65px);
  }
}

button {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  background: linear-gradient(356deg, #9356dc 0%, #ff79da 100%);
  border: none;
  border-radius: 25px;
  -webkit-box-shadow: 2px 5px 5px rgba(128, 128, 128, 0.3);
          box-shadow: 2px 5px 5px rgba(128, 128, 128, 0.3);
  height: 40px;
  color: white;
  margin-top: 30px;
  padding: 0px 15px 0px 15px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

button:hover::after {
  opacity: 1;
}

button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(356deg, #a978e3 0%, #ff94e1 100%);
  -webkit-box-shadow: 2px 5px 5px rgba(128, 128, 128, 0.4);
          box-shadow: 2px 5px 5px rgba(128, 128, 128, 0.4);
  opacity: 0;
  z-index: -1;
  border-radius: 25px;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
}

.mainContent__emptyHeart:hover > .mainContent__fullHeart {
  -webkit-animation-name: heartfilling;
          animation-name: heartfilling;
  -webkit-animation-duration: 350ms;
          animation-duration: 350ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

.mainContent__fullHeart {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  opacity: 0;
}

.mainContent__fullHeart .stop1 {
  stop-color: #9356DC;
}

.mainContent__fullHeart .stop2 {
  stop-color: #FF79DA;
}

/* Keyframes */
@keyframes heartfilling {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.2;
  }
  55% {
    opacity: 0.3;
  }
  85% {
    opacity: 0.7;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes loaderlogo {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.4;
  }
  85% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loadercircle {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes loadingend {
  0% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}

@keyframes mealappearance {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes p-displacement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-55px);
            transform: translateX(-55px);
  }
}

@keyframes check-displacement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-65px);
            transform: translateX(-65px);
  }
}

header {
  text-align: center;
  margin: 0 auto;
  padding: 15px 0px 10px 0px;
  position: relative;
}

header img {
  width: 40%;
}

@media all and (min-width: 443px) {
  header img {
    width: 20%;
  }
}

header svg {
  position: absolute;
  left: 20px;
  top: 20px;
}

@media all and (min-width: 993px) {
  header svg {
    display: none;
  }
}

/* Footer */
footer {
  background-color: #353535;
  padding: 10px 15px 20px 15px;
}

@media all and (min-width: 443px) {
  footer {
    text-align: center;
  }
}

footer svg {
  fill: white;
  margin-right: 10px;
}

footer ul, footer li, footer a {
  list-style-type: none;
  color: white;
  padding: 3px 0px;
  margin: 0;
}

@media all and (min-width: 443px) {
  footer ul, footer li, footer a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media all and (min-width: 443px) {
  footer .footer__icons {
    display: none;
  }
}

/* Keyframes */
@keyframes heartfilling {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.2;
  }
  55% {
    opacity: 0.3;
  }
  85% {
    opacity: 0.7;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes loaderlogo {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.4;
  }
  85% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loadercircle {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes loadingend {
  0% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}

@keyframes mealappearance {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes p-displacement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-55px);
            transform: translateX(-55px);
  }
}

@keyframes check-displacement {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-65px);
            transform: translateX(-65px);
  }
}

/* Mise en page */
/* Balises générales et header*/
h1 {
  font-family: "Shrikhand";
  margin: 10px 0px;
}

h2 {
  font-size: 0.8rem;
  font-weight: 300;
  margin: 35px 0px 0px 15px;
}

@media all and (min-width: 443px) {
  h2 {
    text-align: center;
  }
}

h2 span {
  padding-bottom: 3px;
  border-bottom: #99E2D0 solid 3px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  margin: 0;
}

/* Contenu principal - menu */
#restImage {
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  height: 250px;
}

#restImage img {
  width: 100%;
}

.mainContentTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  height: 30px;
  margin: 15px 0px 0px 15px;
  padding-right: 20px;
}

@media all and (min-width: 443px) {
  .mainContentTitle {
    width: 60%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: auto;
    padding-right: 0px;
  }
}

@media all and (min-width: 993px) {
  .mainContentTitle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 30px auto 60px auto;
  }
}

.mainContent {
  background-color: #f6f6f6;
  border-radius: 30px 30px 0px 0px;
  position: relative;
  top: -50px;
  padding-top: 20px;
}

@media all and (min-width: 443px) {
  .mainContent {
    border-radius: 50px 50px 0px 0px;
  }
}

@media all and (min-width: 443px) {
  .mainContent__meals {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media all and (min-width: 993px) {
  .mainContent__meals {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.mainContent__dish {
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 8px rgba(128, 128, 128, 0.4);
          box-shadow: 2px 2px 8px rgba(128, 128, 128, 0.4);
  width: 85%;
  height: 45px;
  line-height: 1.4rem;
  padding: 10px 10px;
  margin: 20px 15px;
  position: relative;
  opacity: 0;
  overflow: hidden;
  white-space: nowrap;
  -webkit-animation: mealappearance 800ms 250ms both;
          animation: mealappearance 800ms 250ms both;
}

.mainContent__dish--1 {
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}

.mainContent__dish--2 {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.mainContent__dish--3 {
  -webkit-animation-delay: 450ms;
          animation-delay: 450ms;
}

.mainContent__dish--4 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.mainContent__dish--5 {
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
}

.mainContent__dish--6 {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}

.mainContent__dish--7 {
  -webkit-animation-delay: 1050ms;
          animation-delay: 1050ms;
}

.mainContent__dish--8 {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}

.mainContent__dish--9 {
  -webkit-animation-delay: 1350ms;
          animation-delay: 1350ms;
}

.mainContent__dish--10 {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

@media all and (min-width: 443px) {
  .mainContent__dish {
    max-width: 65%;
  }
}

@media all and (min-width: 993px) {
  .mainContent__dish {
    width: 28%;
  }
}

.mainContent__dish:hover > p:nth-child(3) {
  -webkit-animation: p-displacement 300ms 50ms both;
          animation: p-displacement 300ms 50ms both;
}

.mainContent__dish:hover > .onClickCheck {
  -webkit-animation: check-displacement 300ms both;
          animation: check-displacement 300ms both;
}

.mainContent__dish:hover .onClickCheck__icon {
  -webkit-transform: rotate(0turn);
          transform: rotate(0turn);
}

.mainContent__dish:hover h3, .mainContent__dish:hover p:nth-child(2) {
  width: 70%;
}

.mainContent .onClickCheck__icon {
  -webkit-transform: rotate(-0.5turn);
          transform: rotate(-0.5turn);
  -webkit-transition: -webkit-transform 400ms 50ms;
  transition: -webkit-transform 400ms 50ms;
  transition: transform 400ms 50ms;
  transition: transform 400ms 50ms, -webkit-transform 400ms 50ms;
  fill: white;
}

.mainContent h3, .mainContent p:nth-child(2) {
  width: 80%;
  -webkit-transition: width 250ms 50ms;
  transition: width 250ms 50ms;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.mainContent p:nth-child(3) {
  text-align: right;
  position: relative;
  bottom: 20px;
  right: 10px;
}

.onClickCheck {
  width: 65px;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
  background-color: #99E2D0;
  position: absolute;
  right: -65px;
  top: 0px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.onClickCheck svg {
  margin: 0;
  padding: 0;
}

#button {
  text-align: center;
}

/* Coeur - Particularités */
.mainContent__emptyHeart {
  position: relative;
}

.mainContent__fullHeart {
  top: -1.5px;
  -webkit-transform-origin: 50% 80%;
          transform-origin: 50% 80%;
}
/*# sourceMappingURL=menustyles.css.map */