/* Maps et variables */
$font-family:(headings:"Shrikhand", text:"Roboto");
$font-size:(title:1.6rem, text:0.8rem);

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$background-color: #f6f6f6;
$button-color: linear-gradient(356deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);

$num-dishes:9;

/* Mixins */
@mixin tabletstyle {
    @media all and (min-width:443px){
        @content;
    }
}

@mixin desktopstyle {
    @media all and (min-width:993px){
        @content;
    }
}

/* Keyframes */
@keyframes heartfilling {
    0% {
        transform: scale(0);
        opacity:0.2;
    }
    55% {
        opacity:0.3;
    }
    85% {
        opacity:0.7;
    }
    100% {
        transform: scale(1);
        opacity:1;
    }
}

@keyframes mealappearance {
    0% {
        opacity:0;
        transform: translateY(40px);
    }
    25% {
        opacity:0.5;
    }
    100% {
        opacity:1;
        transform: translateY(0px);
    }
}

@keyframes p-displacement {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform:translateX(-55px);
    }
}

@keyframes check-displacement {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform:translateX(-65px);
    }
}


/* Mise en page */
/* Balises générales et header*/
body, p, h3
{
    font-family: map-get($map: $font-family, $key: text), sans-serif;
    font-size:map-get($map: $font-size, $key: text);
    margin:0;
}

a
{
    color:black;
    text-decoration: none;
}

h1
{
    font-size:map-get($map: $font-size, $key: title);
    font-family:map-get($map: $font-family, $key: headings);
    margin:10px 0px;
}

h2
{
    font-size: map-get($map: $font-size, $key: text);
    font-weight:300;
    margin:35px 0px 0px 15px;
    @include tabletstyle{
        text-align:center;
    }
    
    span
    {
        padding-bottom:3px;
        border-bottom: $tertiary-color solid 3px;
    }
}

strong
{
    font-weight:bold;
}

header
{
    text-align:center;
    margin:0 auto;
    padding:15px 0px 10px 0px;
    position:relative;

    img
    {
        width:40%;
        @include tabletstyle{
            width:20%;
        }
    }

    svg
    {
        position:absolute;
        left:20px;
        top:20px;
        @include desktopstyle{
            display:none;
        }
    }
}

main
{
    background-color: $background-color;
}

/* Contenu principal - menu */
#restImage
{
    object-fit: cover;
    overflow:hidden;
    height:250px;

    img
    {
        width:100%;
    }
}

.mainContentTitle
{
    display:flex;
    justify-content:space-between;
    align-items: center;
    width:85%;
    height:30px;
    margin:15px 0px 0px 15px;
    padding-right:20px;   
    @include tabletstyle{
        width:60%;
        justify-content: space-evenly;
        margin:auto;
        padding-right:0px;
    }
    @include desktopstyle {
        flex-direction:column;
        margin:30px auto 60px auto;
    }

    &__emptyHeart:hover {

        & > .mainContentTitle__fullHeart {
            opacity:1;
            fill:$secondary-color;
            animation-name:heartfilling;
            animation-duration:350ms;
            animation-fill-mode:both;
            animation-timing-function: ease-in;
        }
    }

    &__emptyHeart {
        position:relative;
    }
    
    &__fullHeart {
        position:absolute;
        bottom:0;
        top:2px;
        left:0;
        right:0;
        transform-origin:50% 80%;
        opacity:0;
    }   
}

.mainContent
{
    background-color: $background-color;
    border-radius:30px 30px 0px 0px;
    position:relative;
    top:-50px;
    padding-top:20px;
    @include tabletstyle{
        border-radius:50px 50px 0px 0px;
    }

    &__meals
    {
        @include tabletstyle{
            display:flex;
            flex-direction:column;
            align-items:center;
        }
        @include desktopstyle{
            flex-direction: row;
            justify-content: space-around;
        }
    }

    &__dish
    {
        border-radius:20px;
        box-shadow: 2px 2px 8px rgba(128, 128, 128, 0.4);
        width:85%;
        height:45px;
        line-height:1.4rem;
        padding:10px 10px;
        margin:20px 15px;
        display:flex;
        justify-content: space-between;
        position:relative;
        opacity:0;
        overflow:hidden;
        white-space: nowrap;
        animation:mealappearance 800ms 250ms both;
        @for $i from 1 through $num-dishes{
            &--#{$i} 
            {
                animation-delay: 150ms * $i;
            }
        }
        @include tabletstyle
        {
            max-width:65%;
        }
        @include desktopstyle
        {
            width:28%;
        }

        &:hover
        {
            & > p
            {
                animation:p-displacement;
                animation-duration:300ms;
                animation-delay:50ms;
                animation-fill-mode:both;
                border:green solid 1px;
            }

            & > .onClickCheck
            {
                animation:check-displacement;
                animation-duration:300ms;
                animation-fill-mode:both; 

            }

            & svg
            {
                transform: rotate(0turn);
            }

        }

        .try
        {
            border:blue solid 1px;
            text-overflow:ellipsis;
            overflow:hidden;
            white-space: nowrap;

            & + p
            {
                border:red solid 1px;
            }
        }
        
        /* p:nth-child(3)
        {
            text-align:right;
            position:relative;
            bottom:20px;
            right:10px;
        } */

        svg
        {
            transform: rotate(-0.5turn);
            transition: transform 400ms 50ms;
            fill:white;
        }
    }
}

.onClickCheck
{
    width:65px;
    height:100%;
    border-radius:0px 20px 20px 0px;
    background-color: $tertiary-color;
    position:absolute;
    right:-65px;
    top: 0px;
    padding:0;
    display:flex;
    justify-content: center;
    align-items: center;

    svg
    {
        margin:0;
        padding:0;
    }
}

button
{
    font-family: map-get($map: $font-family, $key:text), sans-serif;
    font-size: map-get($map: $font-size, $key: text);
    background: $button-color;
    border:none;
    border-radius:25px;
    box-shadow: 2px 5px 5px rgba(128, 128, 128, 0.3);
    height:40px;
    color:white;
    margin-top:30px;
    padding:0px 15px 0px 15px;
    cursor:pointer;
    position: relative;
    z-index: 1;

    &:hover
    {
        &::after
        {
            opacity:1;
        }
    }

    &::after
    {
        content:"";
        position:absolute;
        top: 0;
        right: 0;
        bottom: 0;  
        left: 0;
        background: linear-gradient(356deg, mix(white,rgba(147,86,220,1),20%) 0%, mix(white,rgba(255,121,218,1),20%) 100%);
        box-shadow: 2px 5px 5px rgba(128, 128, 128, 0.4);
        opacity: 0;
        z-index: -1;
        border-radius:25px;
        transition: opacity 250ms;

    }
}

#button
{
    text-align:center;
}


/* Footer */
footer
{
    background-color:#353535;
    padding:10px 15px 20px 15px;
    @include tabletstyle{
        text-align:center;
    }

    svg
    {
        fill:white;
        margin-right:10px;
    }

    ul, li, a
    {
        list-style-type:none;
        color:white;
        padding:3px 0px;
        margin:0;

        @include tabletstyle{
            display:flex;
            justify-content: space-between;
        }
    }

    .footer__icons
    {
        @include tabletstyle{
            display:none;
        }
    }   
}


