@charset "UTF-8";
/* Maps et variables */
/* Mixins */
/* Keyframes */
@-webkit-keyframes heartfilling {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.2;
  }
  55% {
    opacity: 0.3;
  }
  85% {
    opacity: 0.7;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes heartfilling {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.2;
  }
  55% {
    opacity: 0.3;
  }
  85% {
    opacity: 0.7;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes loadercircle {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes loadercircle {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@-webkit-keyframes loaderlogo {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.4;
  }
  85% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loaderlogo {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.4;
  }
  85% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes loadingend {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loadingend {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Mise en page */
/* Balises générales et header*/
body, p, input {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 1.3rem;
  margin: 0px 30px 10px 30px;
}

h2 {
  font-size: 1.3rem;
  margin-left: 15px;
}

@media all and (min-width: 443px) {
  h2 {
    text-align: center;
  }
}

header {
  text-align: center;
  margin: 0 auto;
  padding: 15px 0px 10px 0px;
}

header img {
  width: 40%;
}

@media all and (min-width: 443px) {
  header img {
    width: 20%;
  }
}

main {
  background-color: #f6f6f6;
  padding: 20px 0px;
}

/* Localisation et présentation de l'entreprise */
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EAEAEA;
  -webkit-box-shadow: inset 0 8px 6px -6px rgba(128, 128, 128, 0.3);
          box-shadow: inset 0 8px 6px -6px rgba(128, 128, 128, 0.3);
  margin-bottom: 10px;
  height: 40px;
}

form input, form svg {
  font-weight: bold;
  background-color: transparent;
  border: transparent;
}

form svg {
  position: relative;
  left: -10px;
}

#compIntroduction {
  width: auto;
  background-color: #f6f6f6;
  text-align: center;
}

@media all and (min-width: 443px) {
  #compIntroduction {
    background-image: url("../images/pizza-4952509_1920.jpg");
    background-position: 90px -50px;
    background-size: cover;
    color: #f6f6f6;
    font-weight: bold;
  }
}

@media all and (min-width: 993px) {
  #compIntroduction {
    background-position: 300px -350px;
  }
}

#compIntroduction__text {
  padding: 20px 40px 45px 40px;
}

button {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  background: linear-gradient(356deg, #9356dc 0%, #ff79da 100%);
  border: none;
  border-radius: 25px;
  -webkit-box-shadow: 2px 5px 5px rgba(128, 128, 128, 0.3);
          box-shadow: 2px 5px 5px rgba(128, 128, 128, 0.3);
  height: 40px;
  color: white;
  margin-top: 30px;
  padding: 0px 15px 0px 15px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

button:hover::after {
  opacity: 1;
}

button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(356deg, #a978e3 0%, #ff94e1 100%);
  -webkit-box-shadow: 2px 5px 5px rgba(128, 128, 128, 0.4);
          box-shadow: 2px 5px 5px rgba(128, 128, 128, 0.4);
  opacity: 0;
  z-index: -1;
  border-radius: 25px;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
}

@media all and (min-width: 443px) {
  button::after {
    -webkit-box-shadow: 2px 5px 5px rgba(255, 255, 255, 0.2);
            box-shadow: 2px 5px 5px rgba(255, 255, 255, 0.2);
  }
}

/* Fonctionnement */
ol {
  padding: 0px;
}

@media all and (min-width: 443px) {
  ol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    text-align: center;
  }
}

ol li {
  background-color: #f6f6f6;
  -webkit-box-shadow: 2px 2px 5px 2px #e9e9e9;
          box-shadow: 2px 2px 5px 2px #e9e9e9;
  margin: 25px 0px 0px 27px;
  padding: 20px 0px 20px 20%;
  border-radius: 15px;
  width: 70%;
  font-weight: bold;
  list-style-type: none;
  position: relative;
  z-index: -1;
}

@media all and (min-width: 443px) {
  ol li {
    padding: 10px 10px 10px 20px;
    margin: 30px 5px 0px 5px;
    padding-left: 25px;
    width: 20%;
  }
}

@media all and (min-width: 993px) {
  ol li {
    width: 25%;
  }
}

.functioningSteps {
  padding: 20px 0px;
}

.functioningSteps__number {
  position: absolute;
  left: -5px;
  z-index: 1;
  color: white;
  font-weight: normal;
}

@media all and (min-width: 443px) {
  .functioningSteps__number {
    left: 50%;
    top: -17px;
    z-index: -1;
  }
}

.functioningSteps__circle {
  position: absolute;
  left: -8px;
  top: -4px;
  z-index: -1;
  fill: #9356DC;
}

.functioningSteps__icon {
  margin-right: 35px;
  position: absolute;
  top: 20px;
  left: 30px;
  fill: grey;
}

@media all and (min-width: 443px) {
  .functioningSteps__icon {
    top: 10px;
    left: 10px;
  }
}

.functioningSteps__icon--purple {
  fill: #9356DC;
}

.functioningSteps--purple {
  background-color: rgba(147, 86, 220, 0.1);
}

#desktopIcon {
  display: none;
}

@media all and (min-width: 993px) {
  #desktopIcon {
    display: initial;
  }
}

@media all and (min-width: 993px) {
  #mobileIcon {
    display: none;
  }
}

/* Contenu principal - Menus */
@media all and (min-width: 443px) {
  #mainContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

article {
  border-radius: 20px;
  -webkit-box-shadow: 2px 5px 5px rgba(128, 128, 128, 0.3);
          box-shadow: 2px 5px 5px rgba(128, 128, 128, 0.3);
  width: 90%;
  height: 250px;
  margin: 20px 15px;
  position: relative;
  overflow: hidden;
}

@media all and (min-width: 443px) {
  article {
    min-width: 20%;
    max-width: 350px;
  }
}

article img {
  width: 100%;
  min-height: 100%;
  border-radius: 20px;
}

.mainContentArticle__new {
  background-color: green;
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: #99E2D0;
  color: #278870;
  font-weight: bold;
  padding: 5px 10px 5px 10px;
}

.mainContentArticle__text {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 25%;
  bottom: 0;
  z-index: 1;
  line-height: 0.3rem;
  border-radius: 0px 0px 20px 20px;
}

.mainContentArticle__text p, .mainContentArticle__text h3 {
  margin-left: 10px;
}

.mainContentArticle__heart {
  position: absolute;
  width: 100%;
  height: 30px;
  top: 15px;
}

.mainContentArticle__heart .mainContentArticle__emptyHeart:hover > .mainContentArticle__fullHeart {
  -webkit-animation-name: heartfilling;
          animation-name: heartfilling;
  -webkit-animation-duration: 350ms;
          animation-duration: 350ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

.mainContentArticle__heart .mainContentArticle__emptyHeart {
  position: absolute;
  right: 10px;
}

.mainContentArticle__heart .mainContentArticle__fullHeart {
  position: absolute;
  top: -2px;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform-origin: 68% 80%;
          transform-origin: 68% 80%;
  opacity: 0;
}

.mainContentArticle__heart .mainContentArticle__fullHeart .stop1 {
  stop-color: #9356DC;
}

.mainContentArticle__heart .mainContentArticle__fullHeart .stop2 {
  stop-color: #FF79DA;
}

/* Footer */
footer {
  background-color: #353535;
  padding: 10px 15px 20px 15px;
}

@media all and (min-width: 443px) {
  footer {
    text-align: center;
  }
}

footer svg {
  fill: white;
  margin-right: 10px;
}

footer ul, footer li, footer a {
  list-style-type: none;
  color: white;
  padding: 3px 0px;
  margin: 0;
}

@media all and (min-width: 443px) {
  footer ul, footer li, footer a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media all and (min-width: 443px) {
  footer .footer__icons {
    display: none;
  }
}

/* Loading spinner */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  -webkit-animation: loadingend 1ms 3000ms both;
          animation: loadingend 1ms 3000ms both;
}

.container p:nth-child(3) {
  font-size: 1rem;
  font-style: italic;
  font-weight: 600;
  position: absolute;
  bottom: 50px;
}

.loadingZone__loadCircles {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 30%;
}

@media all and (min-width: 993px) {
  .loadingZone__loadCircles {
    width: 10%;
  }
}

.logoPath {
  -webkit-animation: loaderlogo 2000ms backwards alternate infinite;
          animation: loaderlogo 2000ms backwards alternate infinite;
}

.logoPath--1 {
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}

.logoPath--2 {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.logoPath--3 {
  -webkit-animation-delay: 450ms;
          animation-delay: 450ms;
}

.logoPath--4 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.logoPath--5 {
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
}

.logoPath--6 {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}

.logoPath--7 {
  -webkit-animation-delay: 1050ms;
          animation-delay: 1050ms;
}

.logoPath--8 {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}

.loadCircle {
  -webkit-animation: loadercircle 500ms 166.66667ms backwards infinite;
          animation: loadercircle 500ms 166.66667ms backwards infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.loadCircle--1 {
  -webkit-animation-delay: 166.66667ms;
          animation-delay: 166.66667ms;
}

.loadCircle--2 {
  -webkit-animation-delay: 333.33333ms;
          animation-delay: 333.33333ms;
}

.loadCircle--3 {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.loadCircle:nth-child(1) {
  fill: #9356DC;
}

.loadCircle:nth-child(2) {
  fill: #99E2D0;
}

.loadCircle:nth-child(3) {
  fill: #FF79DA;
}

.pageBody {
  animation: loadingend 1ms 3000ms backwards reverse;
}
/*# sourceMappingURL=styles.css.map */